/*NAVBAR ITEMS*/
body{
    background-color:rgb(156, 156, 27);
    
    background-image: url(https://kasadoo.com/assets/site/images/album/Switzerland/Bern/The-Pyramid-of-Khafre.jpg) ;
    background-size: cover;
}
#tekst2{
    background-color: rgb(97, 92, 30);}
/*</NAVBAR ITEMS>*/