/*NAVBAR ITEM*/
body{
    background-color:rgb(156, 156, 27);
    
    background-image: url(https://d35nxk5xx1d0px.cloudfront.net/repository/images/_variations/a/1/4/e/a14efa749046df3e9028083ad038aa8b_view_article_new.jpg?v=20) ;
    background-size: cover;
}
#tekst3{
    background-color: rgb(97, 92, 30);
}

/*</NAVBAR ITEMS>*/